
.Championship {
 
   cursor: pointer;

}

.Championship:hover {
 
   background-color:  rgb(92, 184, 92);
   color: white;

}


.Team {
 
   cursor: pointer;

}

.Team:hover {
 
   background:  rgb(92, 184, 92);
   color: white;

}


