/* images styles */
.languageIcon{
    width: 20px;
}
.smallImageField{
    cursor: pointer;
    width: 95%;
    height: auto;
    margin: 10px 10px 10px 45px;
}
.bigImageField{
    cursor: pointer;
    width: 92.8%;
    height: auto;
    margin: 10px 10px 10px 35px;
}
/* info modal size */
.infoModal .modal-dialog{
    width: 90%;
    height: auto;
}
.infoModal .modal-content{
    width: 100%;
    height: 100%;
}
/* info modal styles */
.titleTable{
    font-weight: bold;
}
/* Contribute page styles */
.optionContribute {
    font-size: 20px;
    text-align: center;
    width: 50%;
    height: 33%;
}